.sponsor-card{
    background-color: var(--secondary-purple);
    padding: 30px 28px;
    border: 1px solid #412157;
    /* flex: 1;
    min-width: 200px; */
}
.sponsor-card h3{
    font-weight: 400;
}
.sponsor-card__logo{
    height: 50px;
}
#wix_card img{
    width: 110px;
    height: 50px;
    object-fit: cover;
}
.sponsor-card__bottom{
    color: var(--primary-white);
}
.sponsor-card__bottom h3{
    font-feature-settings: 'salt' on, 'liga' off;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px; 
    margin-top: 10px;
}
.sponsor-card__bottom p{
    color: var(--secondary-white);
    font-feature-settings: 'salt' on, 'liga' off;
    font-family: var(--secondary-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-top: 12px;
}