.sponsor-card{
    background: rgba(184, 184, 184, 0.16);

  
     
    padding: 30px 28px;
    border: 1px solid #412157;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

    /* flex: 1;
    min-width: 200px; */
}

.sponsor-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateX(-.5px) translateY(-1px);
  }
  
.sponsor-card h3{
    font-weight: 400;
}
.sponsor-card__logo{
    height: 50px;
}

.sponsor-card__bottom{
    color: var(--primary-white);
}
.sponsor-card__bottom h3{
    font-feature-settings: 'salt' on, 'liga' off;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px; 
    margin-top: 10px;
}
.sponsor-card__bottom p{
    color: var(--secondary-white);
    font-feature-settings: 'salt' on, 'liga' off;
    font-family: var(--secondary-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-top: 12px;
    margin-bottom: 15%;
}



.sponsor-card__type {
    display: inline-block;
  color: white;
  padding: 10px 20px;
  background-color: transparent; /* Keep this */
  width: 18%; /* Fixed width */
  text-align: center;
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 15px;
  font-family: var(--secondary-font);
 

  /* Use outline instead for the gradient effect */

  border-radius: 5px;
}
.sponsor-card__type::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 5px;
  padding: 1.3px; /* This creates the border width */
  background: linear-gradient(45deg, #ba9cffa3 50%, #7995fcd1 100%);

  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -1;
  pointer-events: none; /* Make sure clicks go through to the element */
}


.sponsor-card__bottom {
    flex-grow: 1;
}

@media screen and (max-width: 1220px){
    .sponsor-card{
        background: rgba(184, 184, 184, 0.16);
      
        border: 1px solid rgba( 255, 255, 255, 0.18 );
       
        border: 1px solid #412157;
        width: 300px;
        height: 220px; 
       
        /* flex: 1;
        min-width: 200px; */
    }

  
    }
