


.mobile-sponsor-link .mobile-sponsor-card{
    padding: 64px 31px;
    
    h3{
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 26px;
    }
    p{
        font-size: 16px;
        font-family: var(--secondary-font);
        line-height: 24px;
        
    }
}
.mobile-sponsor-card__logo{
    height:52px;
    margin-bottom: 15px;
}
.mobile-sponsor-card h3, .mobile-sponsor-card p{
    color: white;

}

.mobile-sponsor-card .mobile-sponsor-card__logo{
    height: 90px;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
}

/*.mobile-sponsor-card__type {
    color:white;
    padding: 10px 20px;
   background-color: transparent;
   border: 1.5px solid ;
   border-image: linear-gradient(45deg, #ba9cffc9 75%, #9cb1ffc4 75%) 1;
    border-radius: 5px;
    width: 18%;
    text-align: center;
    position: absolute;
    top: 15px;
    right:15px;
    font-size: 15px;
    font-family: var(--secondary-font);
}*/

.mobile-sponsor-card__type {
    display: inline-block;
  color: white;
  padding: 10px 20px;
  background-color: transparent; /* Keep this */
  width: 18%; /* Fixed width */
  text-align: center;
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 15px;
  font-family: var(--secondary-font);
 

  /* Use outline instead for the gradient effect */

  border-radius: 5px;
}

.mobile-sponsor-card__type::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 5px;
  padding: 1.5px; /* This creates the border width */
  background: linear-gradient(45deg, #ba9cffa3 50%, #7995fcd1 100%);

  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -1;
  pointer-events: none; /* Make sure clicks go through to the element */
}

@media screen and (min-width: 609px){
    
.mobile-sponsor-card {

    height: 40vw;

   width: 25vw;
 
    
}

.mobile-sponsor-card p.description{
    width: 210%;
    font-size: 20px;
    margin-bottom: 10px;
   
    

}

.mobile-sponsor-card__type{
    margin-top: 10px;
    width: 12%;

    
}

}

@media screen and (max-width: 400px){
    .mobile-sponsor-card__type{
        width: 24%;
    
        
    }
   

}