.mobile-sponsor-link .mobile-sponsor-card{
    padding: 64px 31px;
    
    h3{
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 26px;
    }
    p{
        font-size: 16px;
        font-family: var(--secondary-font);
        line-height: 24px;
    }
}
.mobile-sponsor-card__logo{
    height:52px;
    margin-bottom: 32px;
}
.mobile-sponsor-card h3, .mobile-sponsor-card p{
    color: white;

}

.mobile-sponsor-card__type {
    padding: 10px 25px;
    /* background-color: var(--secondary-purple); */
    background-color: #37074b;
    border-radius: 10px;
    width: 25%;
    text-align: center;
    margin-top: 20px;
    position: absolute;
    bottom: 10px;
}