.event-card {
  padding: 20px;
  background-color: #ffffffe5;
  color: #000;
  max-width: 929px;
  max-height: 320px;
  display: grid;
  grid-template-columns: 1fr 282px;
  grid-template-rows: repeat(2, max-content);
  grid-template-areas:
    "info visuals"
    "attendees link";

  gap: 20px;
  position: relative;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.event-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: translateX(-2px) translateY(-3px);
}

.event-card:hover::after {
  width: 100%;
}

.event-card__info {
  grid-area: info;
}

.event-card__time {
  text-transform: uppercase;
  font-family: var(--secondary-font);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.4;
  color: #400c62;
}

.event-card__title {
  font-family: var(--primary-font);
  font-size: 20px;
  line-height: 2.2;
  font-weight: 700;
}

.event-card__description {
  max-height: 56px;
  max-width: 608px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 13px;
  line-height: 1.6;
  font-family: var(--secondary-font);
  color: #000;
  font-weight: 400;
}

.event-card__description-span {
  display: inline-block;
}

.event-card__visuals {
  grid-area: visuals;
}

.event-card__img {
  width: 100%;
  max-height: 158px;
  object-fit: cover;
  object-position: center;
  border-radius: 8px;
  box-shadow: 0px 10px 15px -3px #0000001a;
}

.event-card__attendees {
  color: #707070;
  font-family: var(--secondary-font);
  font-size: 16px;
  grid-area: attendees;
}

.event-card__button {
  grid-area: link;
  margin-left: auto;
}

/* .event-card__pfp {
  border: 1px solid #fff;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
} */



/* Mobile Styling */

@media (max-width: 768px) {
  .event-card {
    background: rgba(184, 184, 184, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    width: 310px;
    max-height: 360px;
    min-height: 360px;
  }

  .event-card__visuals {
    order: -1;
    width: 100%;
  }

  .event-card__img {
    width: 100%;
    height: auto;
    display: block;
    border-bottom: 2px solid #fff;
  }

  .event-card__info {
    display: flex;
    flex-direction: column;
    padding: 0 12px;
  }

  .event-card__title {
    order: 2;
    font-size: 22px;
    font-weight: 600;
    /* margin: 8px 0; */
    font-family: var(--primary-font);
    line-height: 1.25;
  }

  .event-card__time {
    order: 3;
    font-size: 17px;
    font-weight: normal;
    color: #e0e0e0;
    margin-top: 4px;
  }

  .event-card__description {
    display: none;
  }

  .event-card__attendees {
    order: 5;
    font-size: 13px;
    margin-bottom: 20px;
    color: #e0e0e0;
    padding: 0 12px;
  }
  .event-card:hover {

    transform: none;
  }
}