.about-us__container {
    background-color: white;
    display: flex;
    flex-direction: row;
    /* display: grid;
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-flow: column; */
    /* width: 1360px; */
    width: 100%;
    height: 385px;
    border-radius: 5px;
}

.about-us__text {
    flex-basis: 100%;
    color: black;
    margin: auto;
    padding: 20px;
}

.about-us__text-header h1 {
    font-size: 44px;
    font-weight: 700;
    color: black;
    padding-left: 20px;
}

.about-us__text-content {
    font-size: 18px;
    padding: 20px;
    font-family: var(--secondary-font);
}

.about-us__text-btn {
    padding-left: 20px;
    display: flex;
    align-items: center;
}

.about-us__btn {
    border: none;
    background-color: rgb(158, 67, 243);
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    margin-top: 20px;
    display: flex;
}

.about-us__btn-txt {
    height: 20px;
    display: flex;
    justify-content: center;
}

.about-us__btn-icon {
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}

.about-us__img {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-us__img img {
    width: 85%;
    border-radius: 5px;
}

/* @media only screen and (max-width: 600px) {
    .about-us__container {
        display: grid;
        grid-auto-columns: minmax(0, 1fr);
        grid-auto-flow: row;
    }
} */

@media screen and (max-width: 620px){
    .about-us__img {
        display: none;
    }

    .about-us__text {
        flex-basis: 100%;
        color: black;
        margin: auto;
        padding: 10px;
    }

    .about-us__text-header h1 {
        font-size: 20px;
        font-weight: 700;
        color: black;
        padding-left: 10px;
    }

    .about-us__text-content {
        font-size: 14px;
        padding: 10px;
    }

    .about-us__text-btn {
        padding-left: 20px;
    }
    
    .about-us__btn {
        border: none;
        background-color: rgb(158, 67, 243);
        color: white;
        padding: 15px 12px;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
        border-radius: 12px;
        margin-top: 16px;
        display: flex;
    }

    .about-us__btn-txt {
        height: 12px;
        display: flex;
        justify-content: center;
    }
    
    .about-us__btn-icon {
        height: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}