/* Root styling */
.EventTypeCard {
    position: relative;
    width: 80%;
    max-width: 1200px;
    height: 600px;
    border-radius: 5px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.8s ease, box-shadow 0.8s ease;
    cursor: pointer;
    margin: 55px auto;
}

.EventTypeCard::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(219, 219, 219, 0), rgba(0, 0, 0, 0.5));
    pointer-events: none;
    opacity: 1;
    transition: opacity 0.8s ease;
}

.EventTypeCard:hover::before {
    opacity: 0.35;
}

/* Content container */
.EventTypeCard__container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Align items to the bottom initially */
    padding: 20px;
    color: var(--primary-white);
    box-sizing: border-box;
}

/* Title container */
.EventTypeCard__title-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    display: flex;
    align-items: flex-end;
    padding: 20px;
    transition: transform 0.8s ease-in-out;
    z-index: 2;
}

/* Title styling */
.EventTypeCard__title {
    font-family: var(--tertiary-font);
    font-size: 44px;
    font-weight: 200;
    transition: transform 0.8s ease-in-out;
}

/* Description styling */
.EventTypeCard__description {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 68%;
    height: auto;
    font-family: var(--tertiary-font);
    font-size: 16px;
    line-height: 1.5;
    color: var(--primary-white);
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: flex-start; */
    padding: 20px;
    opacity: 0;
    z-index: 1;
    transition: opacity 0.8s ease-in-out;
}

/* Hover effects to reveal description */
.EventTypeCard:hover .EventTypeCard__description {
    opacity: 1;
}

/* Hover effect to slide */
.EventTypeCard:hover .EventTypeCard__title {
    transform: translateY(-180px); /* Slide title up halfway */
}

/* Button styling */
.EventTypeCard__btn-container {
    position: absolute;
    bottom: 30px;
    right: 20px;
    z-index: 2;
}

.EventTypeCard__btn {
    background-color: var(--primary-white);

    border: none;
    border-radius: 20px;
    padding: 10px 30px;
    font-size: 16px;
    cursor: pointer;

}

.EventTypeCard__btn:hover {
    background: rgba(184, 184, 184, 0.36);
    backdrop-filter: blur( x );
    -webkit-backdrop-filter: blur( 100px );
    color: white;
    & a{ /*Nest to reach link text as well*/
        color: white;
    }
 
   

}




@media (min-width: 769px) { .EventTypeCard__container:hover {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(78, 0, 110, 1));
}}

a:link, a:visited {
    color: #4a2c8a;
    text-decoration: none;
}

/* Mobile Styling */
@media (max-width: 768px) {
    .EventTypeCard::before {

        background: none;
     
    }
    .EventTypeCard {
        width: 100%;
        height: 525px;
        transition: none;
        background-size: 60%;
        background-position-x: 120%;
        background-position-y: 0;
        background-repeat: no-repeat;
       
        /* background: rgb(112, 0, 255); */
        border-radius: 10px;
    }

    .EventTypeCard__container {
        
        background: rgba(184, 184, 184, 0.20);
   
        /* border: 1px solid rgba(255, 255, 255, 0.18); */
    }

    .EventTypeCard__title-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 15%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        transition: none;
    }

    .EventTypeCard__title {
        font-size: 30px;
        transition: none;
      
    }

    .EventTypeCard:hover .EventTypeCard__title {
        transform: translateY(0); /* Eliminate the slide */
    }
  
    .EventTypeCard__description {
        opacity: 1;
        position: relative;
        top: 0px;
        width: 90%;
        height: 75%;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        padding: 0/ 10px;
        transition: none;
        white-space: normal;
  
    }

    .EventTypeCard__btn-container {
        position: absolute;
        bottom: 15px;
        left: 0;
        width: 100%;
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        transition: none;
    }

    .EventTypeCard__btn {
        font-size: 14px;
        padding: 8px 20px;
        transition: none;
    }

     
}

/* Tablet Styling */
@media (min-width: 769px) and (max-width: 1030px) {

.EventTypeCard::before {

    background: linear-gradient(none);
 
}

    .EventTypeCard {
        width: 90%;
        height: 500px;
        transition: none;

    }

    .EventTypeCard__container {
        background: rgba(184, 184, 184, 0.3);
        backdrop-filter: blur(10x);
        -webkit-backdrop-filter: blur(10px);
        /* border: 1px solid rgba(255, 255, 255, 0.18); */
    }

    .EventTypeCard__title-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 15%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 10px 20px;
        transition: none;
    }

    .EventTypeCard__title {
        font-size: 32px;
        transition: none;
    }

    .EventTypeCard:hover .EventTypeCard__title {
        transform: translateY(0); /* Eliminate the slide */
    }
   
    

    .EventTypeCard__description {
        opacity: 1;
        position: absolute;
        top: 15%;
        width: 75%;
        height: 75%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        padding: 10px;
        transition: none;
    }

    .EventTypeCard__btn-container {
        position: absolute;
        bottom: 0;
        right: 10px;
        width: auto;
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        transition: none;
    }

    .EventTypeCard__btn {
        font-size: 18px;
        padding: 8px 20px;
        transition: none;
    }
}