/* Root styling */
.EventTypeCard {
    position: relative;
    width: 80%; /* Define the card as 80% of the page width */
    max-width: 1200px;
    height: 600px;
    border-radius: 5px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.8s ease, box-shadow 0.8s ease;
    cursor: pointer;
    margin: 20px auto;
}

.EventTypeCard::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2));
    /* z-index: 1; */
    pointer-events: none;
    opacity: 1;
    transition: opacity 0.8s ease;
}

.EventTypeCard:hover::before {
    opacity: 0.35;
}

/* Content container */
.EventTypeCard__container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 65%; /* Makes the content cover the entire height of the element */
    display: flex;
    flex-direction: column; /* Allow stacking of elements */
    justify-content: space-between;
    padding: 20px;
    color: var(--primary-white);
    box-sizing: border-box; /* This ensures that the element stays within the parent container */
    transition: transform 0.8s ease-in-out;
}

.EventTypeCard__container:hover {
    background: linear-gradient(rgba(0, 0, 0, 0), rgb(120, 97, 221, 0.6), rgba(56, 28, 134, 0.8)); 
}

.EventTypeCard:hover .EventTypeCard__text {
    transform: translateY(0); /* Slide up on hover */
}

.EventTypeCard__text {
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    width: 75%;
    /* transform: translateY(100%); */
    transition: transform 0.8s ease;
    transform: translateY(85%); /* Start mostly hidden */
}

/* Title styling */
.EventTypeCard__title {
    height: 20%;
    display: flex;
    align-items: center;
    padding: 20px;
    font-family: var(--tertiary-font);
    font-size: 44px;
    font-weight: 200;
    margin-bottom: 20px;
}

.EventTypeCard__description {
    font-family: var(--secondary-font);
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 16px;
    line-height: 1.5;
}

/* Button styling */
.EventTypeCard__btn-container {
    flex-shrink: 0;
    padding: 10px;
    text-align: right;
}

.EventTypeCard__btn {
    align-self: flex-start;
    /* margin-left: auto;
    margin-right: 10px; */
    background-color: var(--primary-white);
    color: #4a2c8a;
    border: none;
    border-radius: 20px;
    padding: 10px 30px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.8s ease;
}

/* Button hover effects */
.EventTypeCard__btn:hover {
    background-color: #4a2c8a;
    color: white;
}



/* Mobile Styling */
@media (max-width: 768px) {
    .EventTypeCard {
        height: 400px;
        width: 100%;
    }

    .EventTypeCard__container {
        position: relative;
        height: 100%;
        background: linear-gradient(rgba(0, 0, 0, 0.2), rgb(120, 97, 221, 0.5), rgba(56, 28, 134, 0.8)); 
        padding: 10px;
        transition: none;
        padding-bottom: 10px;
    }

    .EventTypeCard__text {
        transform: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px 0;
        width: 99%;
    }

    .EventTypeCard__title {
        flex: 0 0 15%;
        font-size: 24px;
        padding: 10px;
    }

    .EventTypeCard__description {
        flex: 0 0 80%;
        font-size: 12px;
        padding: 10px;
        margin-top: 0;
    }

    .EventTypeCard__btn-container {
        flex: 0 0 5%;
        text-align: right;
        margin-top: 10px;
    }

    .EventTypeCard__btn {
        font-size: 10px;
        padding: 8px 12px;
    }
}

/* Tablet Styling */
@media (min-width: 769px) and (max-width: 1030px) {
    .EventTypeCard {
        height: 400px;
        width: 100%;
    }

    .EventTypeCard__container {
        position: relative;
        height: 100%;
        background: linear-gradient(rgba(0, 0, 0, 0.2), rgb(120, 97, 221, 0.5), rgba(56, 28, 134, 0.8)); 
        padding: 10px;
        transition: none;
        padding-bottom: 10px;
    }

    .EventTypeCard__text {
        transform: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px 0;
        width: 99%;
    }

    .EventTypeCard__title {
        flex: 0 0 15%;
        font-size: 28px;
        padding: 10px;
    }

    .EventTypeCard__description {
        flex: 0 0 80%;
        font-size: 16px;
        padding: 10px;
        margin-top: 0;
    }

    .EventTypeCard__btn-container {
        flex: 0 0 5%;
        text-align: right;
        margin-top: 10px;
    }

    .EventTypeCard__btn {
        font-size: 14px;
        padding: 8px 12px;
    }
}