@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@font-face {
  font-family: "PingFang-SC";
  src: url("./assets/fonts/PingFang-SC-Regular.ttf");
}
:root {
  --primary-purple: #1f0834;
  --secondary-purple: #30123b;
  --primary-white: #ecf1f0;
  --secondary-white: #b6b6b6;
  --primary-font: "raleway", sans-serif;
  --secondary-font: "roboto", sans-serif;
  --tertiary-font: "PingFang-SC", sans-serif;
}

body {
  margin: 0;
  background-color: var(--primary-purple);
}
main {
  max-width: 1262px;
  margin: 0 auto;
}
p {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--primary-font);
  margin: 0;
}
h1 {
  font-size: 71px;
  font-style: normal;
  font-weight: 500;
  line-height: 77px;
  letter-spacing: -1.42px;
  color: var(--primary-white);
  max-width: 987px;
}

h2 {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
}
