.volunteer {
    display: flex;
    flex-direction: column;
    padding: 0 52px;
    margin-top: 30px;
  }
  
  
  .volunteer_header {
    min-width: 100%;
    border-bottom: 1px solid;
    border-color: rgba(255, 255, 255, 0.15);
    margin-bottom: 20px;
  }
  
  .volunteer_title h1 {
    font-size: 60px;
    line-height: 1;
    padding: 0;
    margin-bottom: 10px;
  }
  
  /* Create a flex container for content area */
  .volunteer_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
    margin-bottom: 50px;
  }
  
  /* Left side with text */
  .volunteer_text {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .volunteer_top {
    margin-top: 10px;
    margin-bottom: 30px;
    width: 100%;
    padding: 0;
  }
  
  .volunteer p {
    font-family: var(--primary-font);
    color: var(--primary-white);
    text-align: left;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    margin-top: 20px;
    max-width: 85%;
    margin-bottom: 10px;
  }
  
  .volunteer_bottom p{
    margin-top: 30px;
    margin-bottom: 40px;

  }
  /* Right side with image */
  .collage {
    margin-top: 40px;
    padding: 1%;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(0);
    -webkit-backdrop-filter: blur(100px);
    max-width: 45%;
  }
  
  .volunteer_bottom {
    padding-top: 20px;
    width: 100%;
  }
  .mobile-button{display: none;}
  
  .volunteer button {
    background-color: rgba(184, 184, 184, 0.36);
    color: white;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    border-radius: 20px;
    padding: 5px 20px;
    margin-top: 30px;
   margin-left: 30%;
  }
.volunteer button a{
    color: white;
}

.volunteer  .button:hover{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transform: translateX(.5px) translateY(-.7px);
    background-color:rgba(184, 184, 184, 0.25);
    
 
}
  @media (max-width: 900px) {
    .volunteer_content {
      flex-direction: column;
    }
    
    .collage {
      padding: 1.5%;
      background-color: rgba(255, 255, 255, 0.3);
      max-width: 70%;
    
      margin: 0 auto;
    }
    
    .volunteer h1 {
      font-size: 60px;
      line-height: 1;
      padding: 0;
    }
    
    .volunteer p {
      font-size: 25px;
      line-height: 1;
      max-width: 100%;
    }
    
    .volunteer button {
      display: none;
    }
    .volunteer .mobile-button{display: inline ;}
    .volunteer .mobile-button {
    
    
        font-style: normal;
        font-weight: 600;
       
        line-height: 30px;
        border-radius: 20px;
        padding: 5px 15px;
        border: none;
       
        margin:0 auto
      }
  }
  
  @media (max-width: 460px) {
    /* Mobile styles */
    .volunteer h1 {
      font-size: 40px;
      line-height: 1;
    }
    
    .volunteer p {
      font-size: 20px;
      font-weight: 550;
    }
    .volunteer .mobile-button {
        padding: 10px 20px;
        line-height: 25px;
        border: none
      }
    .collage {

        max-width: 100%;
        margin-bottom: 30px;
       
      }

  }