.event-types__container {
    flex-direction: column;
    margin-bottom: 50px;
    padding: 40px;
}

.event-types__header h1{
    
    padding-left: 5%;
    font-size: var(--heading-desktop);
}



/* Mobile Styling */
@media (max-width: 770px) {
    .event-types__header h1{
        font-size: var(--heading-mobile);
    }
}