.bottom-half{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-top: 1px dotted #e9ecef;
    height: 50px;
}

footer{
    border-top: dotted 1px #e9ecef;
}

.social-list{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    
}

.menus{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

li{
    list-style: none;
}

.mini-menu{
    display: block;
    align-items: center;
    list-style: none;
}