.blog {
    display: flex;
    flex-direction: column;
    padding: 40px;
  
    
  }
  .bottom_border{
    border-bottom:  1px inset;
    border-color: rgba(255, 255, 255, 0.15);
  
   width: 100%;
  }
  
  .mini-blog-header{
    display: none
    
  }
  
  .blog-header h1{
     display: flex;
      flex-direction: column;
      align-items: left;
      justify-content: center;
      margin-bottom: 50px;
      padding-left: 5%;
      text-align: left;
      font-size: var(--heading-desktop);
      word-wrap: normal;
     
  }
  
  .blog h1 {
    

    margin-bottom: 20px;
  }
  
  .blog p{
    font-size: 20px;

    margin-bottom: 20px;
    color: white;
    padding-left: 5%;
    font-family: var(--secondary-font);
  }
  
  .bottom .blog_section {
    
    font-size: 1.5rem;

    margin-bottom: 300px;
    margin-top: 50px;
    color: white;
    
    font-family: var(--secondary-font);
    line-height: 1;

  }
  

  
  @media screen and (max-width: 770px) {
    .blog-header h1{
    
      line-height: 1.4;
      font-size: var(--heading-mobile);
  }
  
  .blog h1 {
    font-weight: 550;
   
  }
  

  }
  
  @media screen and (max-width: 440px) {
  
    .blog {
      display: flex;
      flex-direction: column;
 
  
      padding-left: 1%;
      
      
    }
    
    .blog-header h1{
      margin-bottom: 40px;
      word-wrap: break-word;
      text-align: left;
      width: 80%;
      border: 2.5px solid #fff;
    
      font-size: 2.2rem;
      font-weight: 600;
      line-height: 50px;
 
      height: 110px;
    
      margin-left: 10%;
      
  }

  
  .blog-header p {
    font-size: 20px;
    margin-bottom: 20px;
    color: white;
    word-wrap: break-word;
    text-align: left;
    word-wrap: normal;
    margin-left: 5%;
  }
  .blog_section {
    margin-left: 5%;
    
  }


  .bottom_border{
    border-bottom:  1px inset #a9a7a74d;
  
   width: 95%;
   margin-left: 7%;
  
  }
  
  
    
  }