.blog {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  
    
  }
  .bottom_border{
    border-bottom:  1px inset #a9a7a74d;
  
   width: 100%;
  }
  
  .mini-blog-header{
    display: none
    
  }
  
  .blog-header h1{
     display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 50px;
      width: 65%;
      height: 100px;
      border: 2.5px solid #fff;
      margin-left: 120px;
  
      text-align: center;
     
  }
  
  .blog h1 {
    font-size: 2.5rem;
    font-weight: 550;
    margin-bottom: 20px;
  }
  
  .blog h4 {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 20px;
    color: white;
  }
  
  .blog_section {
    
    font-size: 1.5rem;
    font-weight: 550;
    margin-bottom: 300px;
    margin-top: 70px;
    color: white;
    font-family: var(--primary-font);
    line-height: 1;
    margin-right: 20px;
  }
  
  
  
  @media screen and (max-width: 680px) {
    .blog-header h1{
      margin-bottom: 40px;
      width: 70%;
      text-align: center;
  }
  
  .blog h1 {
    font-size: 2rem;
    font-weight: 550;
    height: 100px;
    margin-left: 90px;
  
  }
  
  .blog h4 {
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 20px;
    color: white;
    text-align: center;
    word-wrap: normal;
  }
  .blog_section {
    
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 300px;
    margin-top: 60px;
  
  
  }
  }
  
  @media screen and (max-width: 440px) {
  
    .blog {
      display: flex;
      flex-direction: column;
      justify-content: left;
      
      
    }
    .blog-header h1{
      margin-bottom: 40px;
      width: 60%;
      word-wrap: break-word;
      padding-right: 10px;
      text-align: left;
      
  }
  .blog h1 {
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 50px;
    padding-left: 10px;
    margin-left: 80px;
  
  
  
  }
  
  .blog h4 {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 20px;
    color: white;
    word-wrap: break-word;
    text-align: center;
    word-wrap: normal;
  }
  
  .blog_section {
    
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 300px;
    margin-top: 60px;
  
  
  }
  
    
  }