#home_view{
    padding: 40px;
}
.intro-section p{
    font-family: var(--primary-font);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    color: var(--primary-white);
    margin-top: 20px;
}

.intro-section h1{
    font-family: var(--primary-font);
    font-size: 60px;
}

.background-img {
    position: absolute;
    top: 0;
    right: 0;
    width: 22vw;
    margin-right: 30px;
    height: auto;
    opacity: 0.05;
    pointer-events: none;
    z-index: -1;
    background-position-x: 175%;
    background-position-y: -75%;
  }