.event-cal-pg {
  padding: 40px;
  display: flex;
  flex-direction: column;
}

.event-cal-pg__title {
  margin-bottom: 47px;
}

.event-cal-pg__divider {
  flex-grow: 1;
  height: 1px;
  opacity: 15%;
  background-color: #fff;
  margin-bottom: 22px;
}

.event-cal-pg__main {
  padding: 0 95px;
}

.event-cal-pg__btn {
  border: none;
  border-bottom: 1px solid #e9c1f8;
  background: none;
  color: #e9c1f8;
  padding: 0 0 3px 0;
  margin: 0 40px 100px 0;
  cursor: pointer;
}

.event-cal-pg__btn_unselected {
  border: none;
  color: #898a8c;
}

.MuiStack-root > .event-cal-pg__pagination {
  margin: 100px auto 0;
}
