
.sponsors{
    flex-direction: column;
    margin-top: 50px;
    padding: 0 52px;
}
.sponsors h2,
.sponsors__description{
    text-align: center;
    color: var(--primary-white);
}
.sponsors h2{
    font-feature-settings: 'salt' on, 'liga' off;
    font-family: Raleway;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 26px;
}
.sponsors__description{
    font-family: var(--secondary-font);
}
.sponsors__tiles{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 60px 0px;
}
.sponsors__partner-link{
    color: #BCA9E9;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration-line: underline;
}
@media screen and (max-width: 1215px){
    .sponsors__tiles{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 620px){
    .sponsors__tiles{
        grid-template-columns: 1fr;
    }
}